<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Btvn ss01: 07/07/2025</h2>
<a th:href="@{/b1}">Bai 1</a>
<br>
<hr>
<h2>Bai 2: Đã tạo dự án thành công</h2>
<hr>
<a th:href="@{hello}">Bai 3</a>
<br>
<hr>
<h2>Bai 4: Đã cấu hình để kết nối thành công với DB ở file application.properties</h2>
<hr>
<h2>Bai 5: Đã tạo thành công Entity Product với các thuộc tính đc yêu cầu</h2>
<hr>
<h2>Bai 6: Đã tạo thành công interface và impl của nó để triển khai chức năng crud cho product BÀI 5</h2>
</body>
</html>